/* COLORES HEADER */
body{
    color: rgb(0, 0, 0);
}

header{
    background-color: #02b8b8;
}

.btn{
    background-color: #e0e0e0;
    border: solid 1px #c4ae9e;
}

.btn:hover{
    background-color: #a0a0a0;
    border: solid 1px #636160;
    color: white;
}

.nombre-pag{
    color: #f5f5f5;
}

/* COLORES FOOTER */
footer {
    background-color: #02b8b8;
    color: #ffffff;
}

.contenedor-principal {
    background-color: #d3dfd4;
}

/* DE INDEX */
.modal-content {
    background-color: #d3dfd4;
}

.modal-header {
    background-color: #1f9c9c;
    color: #f3e3c3;
}

#resp {
    color: rgb(66, 58, 60);
}

/* ALQUILERES */
.main{
    background-color: #d3dfd4;
}

.vacio{
    color: #080807;
}
