
header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 9%;
    width: 100%;
}
.icons{
    text-align: right;
}

.icons>i{
	color: #ebe8e8;

    font-size: 40px;
    padding-right: 40px;
    cursor: pointer;
}
.encabezado{
    display: grid;
    grid-template-columns: 63% calc(37% - 60px) 55px;
    height: 100%;
    width: 100%;
}

img{
	width: 10%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 20px;
}
.permanent{
	font-family: 'Permanent Marker', cursive;
}
.grande{
	font-size: 4em;
}
.rojo{
	COLOR: rgb(182, 68, 48);
}
.espacio-derecha{
	margin-right: 1em;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.se-gris{
	background-color: rgb(231, 231, 237);
}
.padding-largo{
	padding: 5px 10 px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
a,.rojo{
	color: rgb(186, 104, 104);
}

.site-footer {
    background-color: #f5e9e9;
    color: #eee;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}
.retraso-1{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay:0.5s;
animation-delay: 0.5s;
}
.retraso-2{
	-webkit-animation-delay: 1s;
	-moz-animation-delay:1s;
animation-delay: 1s;
}
#cargando {
    display: none;
}
section{
	background-color: #eee7e1;
	background-image: url("https://image.ondacero.es/clipping/cmsimages02/2020/04/20/412EA1E6-A314-42DD-BC2B-B158293ED1FE/69.jpg");
}


p {
  background-image: none;
}
#icons2{
	font-size: 30px;
}
#bibl{
	color: #f2eae5;
	font-size: 30px;

}

* ******************* search ************** */

.header-buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 2%;
}

.container-buscador {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 7%;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #f1efef;
    padding: 10px;
    height: 40px;
    border-radius: .6rem;
    width: 90%;
    border: solid 1px gray;
}

.texto {
    width: 10%;
}

/*Más oscuro el texto del placeholder*/
::-webkit-input-placeholder {
    color: rgb(24, 23, 23);
    font-style: italic;
}

.buscar-texto {
    border: none;
    background: none;
    outline: none;
    font-size: 19px;
    font-weight: lighter;
    float: left;
    line-height: 60px;
    width: 100%;
    padding-left: 3%;
}

.boton {
    width: 35px;
    height: 35px;
    text-decoration: none;
    color: #493c33;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.boton:hover {
    color: black;
}

.texto-libros-mostrados {
    padding-top: 7px;
    font-size: 18px;
    padding-left: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width:280px) {
    .header-buscador {
        font-size: 18px;
    }
}

@media (min-width: 217px) {
    .header-buscador {
        font-size: 24px;
    }
}

@media (min-width: 400px) {
    .header-buscador {
        font-size: 28px;
    }
}
.contenedor-principal{
	min-height: 52%;
    max-height: auto;
}
.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 20px;
    padding: 20px;
}
#items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));

	background-color: #fff9f9;
}
.libros {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 250px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
	height: 70%;
    border: 0;
    margin: 2%;
    margin-top: 2%;
    transition-duration: 0.5s;
}
.titulo{
    padding: 0%;
    margin: 0%;
}
.libros:hover {
    box-shadow: 2px 2px 10px #666;
    filter: opacity(0.9);
    transform: scale(1.04);
    border: solid 1px black;
}

.libros>img {
    width: 100%;
    height: 100%;
}
.conteiner-bloque{
	display: grid;
	grid-template-columns: 45% 55%;
	border-radius: 1rem;
	padding: .5rem;
	background-color: #fff5f5;
	max-width: 500px;
}
.imagen-libro{
	width: 80%;
	height: 80%;
}

.informacion {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-rows: auto auto;
    margin: 0%;
    padding-left: 4%;
    font-size: 4em;
}

.informacion>div {
    display: flex;
    align-items: center;
}


#botones{
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;

}
.reservar-libro{
	text-align: left;
}

.modal-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}





#info{
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	width: 100%;
}



#boton-busqueda{
    background-color: white;
}


.imagen-libro{
    width: 100%;
    height: 100%;
    background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhAUExMVEhUXGBgZFRgYGBgZGxgWGxsaHxgYFhUaHSosGB4xHRoZITIhJSkrMTEuGCAzODMsNygtLisBCgoKDg0OGxAQGjclICEtLy0tLi0tLS8tLTUrNSstLy0tLS0tLS0tLS0tNy0rLS0tLS0tLS0tLS8tLy0tLS0rLf/AABEIAOQA3QMBIgACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAABAYDBQcBAv/EAD4QAAICAQMCBAMFBQcDBQEAAAECAAMRBBIhBTEGE0FRImFxBxQyQpEjUoGh0RUWcoKSorEzweEkJWJj8Bf/xAAYAQEBAQEBAAAAAAAAAAAAAAAAAQIDBP/EACIRAQADAQACAQQDAAAAAAAAAAABAhEhMUEDBBIiUSNxkf/aAAwDAQACEQMRAD8A7NERAREQEREBERAREjDqFWSPMTIOCCQOf4yxEz4SbRHmUmJ4rA9iD9J7IpERAREQEREBERAREQEREBERAREQEREBERAREQERNfr+s1VEqSWb91fT6nsJqtZtOQze9aRtpxsJXOrjShiAhstJ7KW/EffB7/ITeaa/zK1YZXcOM+k0dHSdRQS1Rrf6jB/n2/WdfiyJnZyf8eb6jbVjK7E+83P6hJ8PdKarLvgFhjaPQZB5PvxN1I3T7LGTNqhGyeB7enqZJnP5LTa0zLt8NK0pEV8EREw6kREBERAREQEREBERAREQEREBERAREQEREBNR4irAqYqnxOVVmA5x9f4Y/jNnqbSqkhS59FHck/XsPnMHTdd5g5wHGdyg5xhiB/xOlNr+X6cvl+238cz2YYemamxjjyTXWFAUt347cfSbGaTxX4jXRVo3ltdbY2ympSAXfBJyx/CoAyW9JW9J/btynUpfpUySF0rVk17R/wDd+Ld6Z7cdpm07Ot0rNYyZ1f4lL0/j4VMK+paezQOeBYf2lDfS5R8P+Yfxlw096WKroyujcqykMCPkR3mWmSIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgQup9X0+nCnUX1UBjhTY6pk+w3HmSNNQi5KAAMdxI/MTznPrKF426NqzrRqKtN98RqBSBurzUwZy4K2MBtYMPiGfw8+krOr8VarpeiPTtRQ9NpVl0+oVvMqFbuSSvGcor4CjJ4XgAibznJYidtOx49t6th6j1Cy1Tmqstp9OfTap/b3D6sNo+SfOfP2teN7unDT6bSBUd0LGwgNsrB2qEU8FiQeTnGO3PFn8D9HWihSowNoSseyD1+pP/E1n2n+CD1BKbKSo1FJO0McLYhILVk/lORkHt3B75GYzW3Oj9oWq022vVWff2bBvpsSvYikZKBgoPmYP0HtL/pfCK7K9X0jUvovNVbBX+KhwwBAelvwnHHHacks8BdUu1NijSWqWsY77AFQBmPxGzOCMH8pJ9szt/V9SvSukgKd7U0pVV7vbgKuB825xN3zeMUic6z+B+vX6uu/z60R6bTSzVsTXY6gbmQEZABOMZPOeZZJzPwj1SxdLVVpradPXXxZdfTa9l15ObmWkMmxd5YZY5OOwxLN0bxKfPbS6p6fM2eZVbWStdyZAYBXJNdgJGUyeDkeuObazRA7Z9IgIiICIiAiIgIiICIiAiIgIiICIiAiIgJzHYvVOoPYQHpqY06bIBGEbN14z6l1wD7Vj3ln+0Lq7UaXy6ji/Ut5NJ/d3D9pZ/lTc312yD0c6fpmgfUWZWutAqgcsVGAoHuzNj+RgXNEAAAGABgD5CezkWi+2W22xtugXyV5dmv27E/eZim0H5TpPhrr9GuoS+hiUJIIPDIw/ErD3H8wQR3lmJhNjcbScp+0LWNq+o6HSof2NGoqFp9De4Z1X+FaMT/iEvXX/EiaXR36qxSvlhgFPrZnCqD65OOfack+zHrZ1es0dLVjdXbqNXdbuybbWXbkrj4cBgByeIhW0+23w9TRpabKy43agBlLZU5RznZ2zkDn5za+F/CGn1Wk0bPbXfZ93qJS1Uc1hkU4A9PTkjJwOZTftM6lZrXCoHtYPuFaKzlK8MASqg4/7za+BtQXbQbTh0NCOOxUoFDhh6fCDkH0nePi9TPp5rfUZWLRHmcWj/8AnIrJNIFR96LraT+ilRHTDrNLr9DRZqr3ruNua73S3IStiNlhG7O7H5j6za/Zj186vSOSd3lXWVqx7tVw1RPz2MF/yyg/bf1Z6uoaB6yQ1C+YPbcXBAP12kfTM4Z3HodtiQeh9Wq1VFV9TBldVbgglSRna3sR2x8pl6pqDXTdYMEpW7DPALBSQCT8xIqu9f8AFVgvOj0FI1OqAzYWJFOnB7G5h3J/cGDj1Eg2+JeoaFlPUqqX0zEA6jT7h5RPrbWxOV+Y/QyT9lOnrHTqbVO+y/Nuof8AM9zEltx/lLB4g06WabUI4BVq2BB+kCerAgEHIPII7Ee4M9lW+y3UM/StCW5IQoD7rW7Iv+1RLTAREQEREBERAREQEREBERA5x9ogNOu0eqvJ+6Gs0FwCRp7GcEu2PRhhc4/L+u+8ZdHXqPTbatM6NuCtSVIKlkIKrkehxj5ZlnsrDAqwDKRgggEEHuCD3E5n4P8ACensu6nl76NmqtQUUXWU1oin9mQiEcldrd8fF2Eo5B4hsNNdGkINZQbr1YFW88k53A98AcemCCJ1/wCwXpttejvssBVLrA1QPqqqAXA9ieB77fpPnqPQrX1Yo0OpusNJBvs1Rr1NVORla081GZrMEHAYAAj6Syf3TcDdb1PWlh+cWrUo+laqFx8sTVr/AHM1rFY4ian/ANw6otffS9PIez2s1jD4E7chB8R+fB7z7eumvrFtm2qladCGdjtRd1trcu3HpX3Mr76zVdI09y6TyOoVlns3NuW5XY5d7QvGoH0KngdxOSdY6tfr7LL9TqKwxCjB3KCFztVUrQ8DJ5b37yRGtOy/ZX1vSrRqOwc6i4uy/HkbjsBYdxs24PYiVb7TfECLrWOlwj2ac1Xtj4iGYbSMdnK71z32ue2RMX2WeFKNYmqdLbamR1Xixg2zaDklNuQWLYyOOPXk2nq3R9B0rVdLu28lrluJRrWZfLJFu0Bm3LZtG/k4c5Mbks5zE7wRp26X06k3U3PZqLwWSpC7V+YAE3j8oCoCfYtjvNaen063xBq0uw9dNNX7I9ndc7dw9QN7HHzm+u8caSy7TNT1PS1VKW+8V2Da1gI+EKz42EH/APek5jZprLNc2vS/y0v1NtSsoBwRkJuJ4ZGZMfXHvHlXQPtB0SaGv71oAul1QwuK1GLlbChLKgMOckbSRnOMSmUeAet9SIbXXtUh9Lm3H/Lp6+F/jtlm6t4Xrq09t/U9UbAqN5SLhF8wghGAXl3yRt5ODjEp2j6B1/WkC3VvXkdrdS6g+/w1Z/QjMQrfXdO1PRr9PptDqTqTaj2WVW4UJtIG5WGduScBSDyCc8yZrOvdX1SNQumVC4wW8xGC/wDywi5bHfHE1Wh8J39Etr1z2Jq6xldSKwd1aNj9pycuARg8cZz9Ot9O6zprqhbVbW1ZGchgMfX2kkUnwrVf0rU6TQ2O1um1KEVbjk03qpYqD+62D8POG7euejznra0dS6ppTp/j02iY2W3flNu0hK0P5jlsn2A/hOhSBERAREQEREBERAREQERED5sJwcDJxwM4yfbPpKB1zputXUnV6VAlrAC2vnZaF4Vt43bXA+HOCCAARxmdBiBzHwp4qfRJbXrtJfQDZZYb8b1YuxYm1lJCnnGc449OwjdT8apqHPli3U4PwpQjOo/z8Ln3JM6xmeDjgcCUck0+h6jqeBWNIh7n/rXEfID4K+M8ktifWk+xrT4G7zD/AI7QP5Is6zEaOd9P+zM6Zt+j1DaSzsWDNYrD2etu4+hB+c3HT/BzCxr9Rqn1N5XbvKhQqZzsrTJ2DPJ7k4HMtkRo0lvhilvxkt9Qp/5Ew6jwhp2rNWP2ZGChVSuO/wCEAevMsMSaKXpfs709bq4JZl/AbGts2f4BY5Cn5jmburw8mPidiflgfyOZuYgaf+7tf7z/AO3+k0l/2X9NdizVNycsFcorH3KJgH9Jc4ga/pXRKNOAtKbFHAA4A/yjA/lNhEQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQKJ4j8UaqjU2oXq01amvyPOptNWoBALltWhxQc5XBU4wCc5mfrviy+ltUKq/OKajSVAYRQq3BScN5g3k52gkAAsM5AJmx6r4TFzaj/1Worq1GPPpU1lH4AO0uhNeQMHaRGt8H1WDUYssrNr6ewFdv7NtOFFewMCCPhGQ2ZridYU8c0HUigo65u+7+YWqwNRjJTYH34z8G/bt3DGfWY/F3iizR6rRrtDadktfU8ZZK1atfMBz2UuCRzxmTtF4XFV7WpqLgrWG16sVbGuIwzltm4An4ioYDMm6zo1dt9dz5Oyq2rYcbWS3Zu3f6AP4mOHWk0XixtpDVtqLX1Woporq2jclRJ3FnYKAF5LE85HvPn++T2X9PSmhitz3JcH2B63p4dMb8ZU/GTzlRhckzLovA1VNNNdN11TU22WU2jYWTzBhkIZSrrt45HoJnp8IVodIyW2rZRZbYX+Bmta7/reblcfF2+EDA7Y4jidQ/F3XrqdVp6Ut8lHpsdmGls1TblZQAK6zkDDHntwPeSLvFJqCp5V2ssShb72rrWrZW2cMarXBDHDHyxk/CczcWdKU6qvU7m3JU9QXjaVdlYk+ucqP1kHrPhlb7XtW+7TtZWKrvK2ftagSQp3q20jcwDLg/FHMVH1PjOhU1liq7pp6Kb8jH7Su4ErsyeDgevvMWv8AG6VW3odPeyUWU13Wr5e1DcEKHBcM3LgEAHGPpn56r4EptFqpddp67Ka6LK69hVkqyKuXUkYz6EZ9ZK1vhGqxdYDY4+82UWPjb8Jo8vaF47HyxnPuY/E6gdZ8YOG20U2bV1dWme9ghrLF1FqKu/dkAkBtuMiXGVnVeDUexmGouSttQmpNI8vZ56sGLZK7sEjkbsZOZZpJzAiIkUiIgIiICIiAiIgJg1GsrQgOwXOMZzzllUf7mUfLMzyJr+nJbt354DgYOOHXa3/Y/UA+kD3+0qeP2inJCjByctyoIHbI5GZ7b1ClXFbWIrnbhSQD8Wdv67Wx74kJPDtAbcNwOVYcjgr2xx29ef5SRqOlo7BnLE7QvoM43fF24PxN2l4jPXra2GQ6kfCDg5wXxtDDuucjv7x98q2q3mV7W4Vt64Y+ynPPY9vaQ9P0KlFdRuw3lZBIx+yIK8Ae45JyT+k+T4fpNdNZLlam3LkrydwbkbcYyBjAGBwOCY4qe+rrBCl1BIJAJHYEA/zIEWautSA1iKTkgFlBwOScE+gBz9JBTw/QCpAbK5wS2fxABgc+4Bz/AI2Pc5mK/wAM6dgoO/A3fmByWXaSSwPOM9sdzHEbKjWVuWCOrlQpbaQ2A2dvb3weP6iYdP1ahyAHwTuwHVqydv4sBwM4wc47YPtPdJ05K3sdS2X7gkYHxWPgcZxutc9/X2AExanotLqVYEg788/vuztzj3Y/whUp9bUFVjYmGBKncDuAGSUx+LjnjM8p11TglbEYAbjhhwoJG488DIPPyMhW9ApZK0O7CBwCCoJ8z8eSF9TzgYHvxxPrT9DqR7HXJZ1ZTuwVw23OQAMjCIMZ7L75MCd95Tdt3pu9RuGe+3tn97j68T4TX0nAFqZJwBuGSckAAZ5zg498cTX0+HqwqDfYWAX4sjJsG3NnIPxEoM5JHfjJJmR+g0nyzhvgKkcj8qooByO3wKffIjiJh11Q3A2ICoYnLAYCnDEg+gPGe08bqFIyTYgA7kkAD1ySew+faRb+h1MxYlwSwfgjiwElXGR3BJ4PHPIM+KfD1C42hhhq2xnu1eNpPHsAD7gD2Eipt3UaVWxmtTFY3P8AEDtUjIJA5GR29/SfS66o9rEP4uzAn4fxcDnj1HpNfoehLX5q7ya2RUVcYKqMk5bJ3Ek59PpM+n6NUm/G47lKHJHCEAYHHoAB78c5lEltbUFZjYgVThmLKArfusc8H5GPvtW7Z5iFvi+EMCcqAWBA7EAg4+ci09GqVXUbsM5cjIwGIxwAMY5z757kxpejV1tuUvnBHJH4SWJXt23Oze+T3xxAkJ1GkqGFte0gsDvXlR+I9+w9fb1maq5WztZWwcHaQcH1Bx2Pymr/ALuUblfDZAUdxj4RheMe2e37xkrp3TEp37N2GJJBwe/b0zxzjn1Oc8YcTqbERIpERAREQEREBERA1y9XUh/gbKlBj4Rnc4XKknkDPP6d58aLraWFF2OpYDvtwpOcBmBx6cYznPpgzZeWOeBz347/AF942DIOBkduIGtTr1JP5+4XOBgMSRtPPcEMD6AoR7Z+m61WK1s2vtbfg4X8vuc8ZPA9SfSTloUDG0Y59Pc5P6nn6z6KDjgcduO30lGrp64HA2VuTlNwOBjfj8JGdxG4ew5zkAEyVb1BVJBBxkgY5JIIzxjA7579vrJYQDsAP4TG2nUkkg89+T/WIz2zO+mA9RUBSVbnJ9OAM9+fZSZ8/wBqp7P6eg9QWHr+6Cf/ADxJP3dfn/qb+sfdl9j+rf1l2qZb9o+o6kqEjaTggHtj8WP6nt6T51XV66wCQ5zu4AXI2nGPxc88cZ9zgcyV93X5/wCpv6z6WpQAMdu3rj9Y4sbrDbrVUkEHg4Pbvt3H15wPb+GZg/tdPUMBhT6H8RIGQD9P9QkxqFJyRz9T6dvWefdl9j+p/rETVJi3pi+/DDEqwAYD8p7gHJwcAfxnx/aiegY/h/d7t2HLf+JnGmT2P6n+s8Oir/d9vU+hyPX35j8TLMI6mh24DHJGOw4LqmeT7t278dpNmL7uvsf1P8+fkJlknPSxvsiIkaIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgInLOudVvXV3V22NVYtrGgFiqvUceU1RPDHHwlRzkeuTN34j19y3EG/UUuNJW9S0pvD6ks+VNexg2cKMHHHtOk/HkRO+XKvyTNpjPC8RKbqfE2srrd306DbatJxuO0+WHax8kDbuOwYPcjn0OLWeNL08zGmyy0lyh3fDaKks27gfjU7ioYKORwSQQMfbLpq7xKD1bxHrsNWKkRvMZVes2d6dTp0O7KnCOlp9yArHn0+7/ABHraLNX5laZFnw82vUoWithVWy1glnYnBxgEN34Ev2yavcSi9T8VarFwRFpNVum3EqbAtL2KtnmMDwQD8QwCFDEHsZeVPAkmDXsREikREBERAREQEREBERAREQEREBERAREQE9zPIge5jM8iB7mMzyIHuZ5EQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQERED//2Q==') 50% 50% no-repeat rgb(249,249,249);
}


/* ===================
 Ancho máximo página
 =================== */
 @media only screen and (min-width: 1140px) {
    .contenedor {
    width: 1026px;
    /*centramos el contenido*/
    margin: 0 auto;
    }
   }
/* ************** VENTANA MODAL *************/


#exampleModal {
    height: 100%;
}

.modal-dialog {
    height: auto;
    border-radius: 1em;
}

#exampleModalLabel {
    font-size: 26x;
    font-weight: bold;
}

.modal-content {
    border-radius: 1rem;
}

.modal-header {
    display: grid;
    grid-template-columns: 93% 7%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
   .modal-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.estado-accion {
    font-size: 16px;
    text-align: center;
}

#respuesta-201 {
    color: rgb(14, 116, 14);
}

#respuesta-error {
    color: red;
}
